
/**** evolution-lab section **/
.section.whitelist{ 
   background-image: url('img/clame-pg-section-new.jpg');
    padding-top: 270px;
    padding-bottom: 150px;    
    background-size: cover;
    background-position: center;
}
.whitelist-cal p span {
    font-size: 16px;
}
.row.total-sec2 h3 {
    font-weight: normal;
    color: #fff;
    font-family: 'Sansation Regular';
}
.row.total-sec2 h3 span.pink {
    float: left;
    padding-right: 10px;
    color: #f832ec!important;
}
.row.total-sec2 h3 span {
    float: right;
}
.section.whitelist2{ 
    background-image: url('img/clame-pg-section-2.jpg') !important;
     padding-top: 270px;
     padding-bottom: 150px;    
     background-size: cover;
     background-position: center;
 }
.game.comic-tab .tab-content p.white-text {
    color: #fff !important;
}
.whitelist-cal h2.small-heading {
    font-size: 34px;
    color: #f832ec!important;
    text-align: left;
    background: none;
    -webkit-text-fill-color: #f832ec;
}
.whitelist-cal .text-right p {
    margin-bottom: 0px !IMPORTANT;
    color: #fff;
} 
.whitelist-cal .row.total-sec h3 {
    color: #fff;
    font-size: 22px;
    font-weight: normal;
}
.partners img.img-responsive.width-450 {
    max-width: 450px;
}
.partners img.img-responsive {
    max-width: 350px;
}
.whitelist-text p {
    color: #f832ec!important;
    line-height: 1;
}
.whitelist-cal .row.total-sec {
    margin-top: 40px;
}
.whitelist-cal p.white-text {
    color: #fff;
    text-align: left;
}
.game.comic-tab .tab-content p.pink-color {
    color: #f832ec!important;
    font-size: 24px !important;
    line-height: 30px;
}
